@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);


* {
    /*background: url(background.avif);*/
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    background: url("background.avif") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /*font-family: 'WindSong', cursive;*/
    /*font-family: 'Fleur De Leah', cursive;*/
    font-family: 'WindSong', 'Fleur De Leah', cursive;
    /*font-family: "Roboto";*/
    font-weight: 300;
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.calculator {
    width: 450px;
    height: 400px;
    position: relative;
    /*top: 200px;
    left: 1000px;*/
}

.display {    
    text-align: end;
    margin: 2px;
}

.expression {
    font-size: 32px;
}

.number {
    font-size: 48px;
}

.button-dropTrigonometry {    
    height: 50px;
    font-family: 'WindSong', 'Fleur De Leah', cursive;
    font-size: 40px;
}

.dropdown-content {
    display: none;
    width: 450px;
    height: 132px;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > [class^="btn-"]{
    height: 60px;
    width: 105px;
}
/*
.second {
    display: none;
}

.hyperbolic {
    display: none;
}*/

.invisible {
    display: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.buttons > [class^="btn-"]{
    height: 50px;
    width: 90px;
}

[class^="btn-"]{
    font-family: 'WindSong', 'Fleur De Leah', cursive;
    font-size: 32px;
    margin: 2px;
}

.selected {
    background-color: rgb(218, 248, 194);
}

#main {
    background-color: aliceblue;
}

.show {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}